@charset "EUC-KR";

.tit_page{
	overflow: hidden;
  /*  width: 1050px;*/
    margin: 0 auto;
}
.shopping_header{
	font-size: 30px;
    line-height: 30px;
    color: #000;
    font-weight: 700;
    letter-spacing: 0;
    padding: 0 0 60px;
    margin: 0;
    text-align:center;
}
.tit_cart{
	font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    vertical-align: 2px;
}
.table_cart{
	margin-top: 10px;
    margin-bottom: 30px;
}
.table_cart thead th {
	padding: 10px 0;
    background-color: #fcfcfc;
    color: #333;
    border-top: 1px solid #111;
    border-bottom: 1px solid #ccc;
}
.tb_center{
	text-align: center;
	padding:0 10px;
}
.table_cart tbody td .thumb{
	width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    font-siez: 0;
    line-height: 0;
}
.thumb img{
	display: block;
    width: 50px;
    height: 50px;
}
.table_cart th{
	font-size: 12px;
    line-height: 1.25;
    color: #777;
}
.table_cart tbody td {
	border-bottom: 1px solid #ededed;
	padding: 11px 0 11px;
}
.tb_left{
	text-align:left;
	padding:0 10px;
}
.tb_left a{
	color: #777;
    text-decoration: none;
    background: transparent;
}
.count{
    overflow: hidden;
    float: left;
    width: 92px;
    height: 30px;
    border:1px solid #dedede;
    border-radius: 3px;
}
.quantity{
	float: left;
    width: 30px;
    height: 30px;
    margin-right: -1px;
    padding: 0 0 4px;
    border: 0;
    background-color: #fff;
    font-size: 14px;
    color: #000;
    line-height: 18px;
    text-align: center;
}
.cart_down.cart_on{
	background-image: url(https://res.kurly.com/pc/ico/2010/ico_minus_on.svg);
	float:left;
	width:30px;
}
.cart_up.cart_on{
	background-image: url(https://res.kurly.com/pc/ico/2010/ico_plus_on.svg);
    float:left;
    width:30px;
}
.tfoot_right{
	height: 40px;
    margin-top: 30px;
    padding: 10px;
    text-align: right;
    border: 1px solid #B7B7B7;
    font-size: 12px;
    color: #000000;
}
.tfoot_right tr{
	display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.tfoot_right td{
	padding: 11px 10px 10px;
    border-top: 1px solid #dedede;
    color: #000;
    vertical-align: middle;
    word-break: break-all;
    word-wrap: break-word;
}
.tfoot_right td .cart_delete{
	float: left;
    padding-left:10px;
    padding-top:5px;
}
.displaynone{
	display: none !important;
}
.txtEm{
	margin-left: 10px;
}
.txt18{
    font-size: 14px;	
}
.order_footer{
	width:395px;
    margin-top:10px;
    float:right;
}
.order_footer .button_wrap{
	margin: 0 0 15px;
    text-align: left;
    font-size: 0;
    line-height: 0;
}
.order_footer .button_wrap .buy{
    min-width: 110px;
    float: right;
    text-align: center;
    font-size: 0;
    padding-left: 22px;
}
.order_footer .button_wrap .buy a , .order_footer .button_wrap .cart a{
	width: 185px;
    position: relative;
    margin: 0 0 8px 0;
    padding: 16px 0;
    border-radius: 3px;
    display: inline-block;
    font-size: 10px;
    background:#000;
    border: 1px solid #000;
    color: #fff;
    transition-duration: .4s;
    -webkit-transition-duration: .4s;
    -moz-transition-duration: .4s;
    -o-transition-duration: .4s;
}
.order_footer .button_wrap .buy a:hover , .order_footer .button_wrap .cart a:hover{
	color: #000;
    background: #fff;
    border: 1px solid #000;
    text-decoration: none;
}
.order_footer .button_wrap .cart{
	width: 45.6666%;
    min-width: 110px;
    text-align: center;
}