@charset "UTF-8";

/*별점(동적)*/
.star-rating {
  display: flex;
  flex-direction: row-reverse;
  font-size: 2.25rem;
  line-height: 2.5rem;
  justify-content: space-around;
  padding: 0 0.2em;
  text-align: center;
  width: 5em;
  padding-left: 40px;
}
 
.star-rating input {
  display: none;
}
 
.star-rating label {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2.3px;
  -webkit-text-stroke-color: #2b2a29;
  cursor: pointer;
}
 
.star-rating :checked ~ label {
  -webkit-text-fill-color: gold;
}
 
.star-rating label:hover,
.star-rating label:hover ~ label {
  -webkit-text-fill-color: #fff58c;
}


/*별점(정적)*/
.star-ratings {
  color: #aaa9a9; 
  position: relative;
  unicode-bidi: bidi-override;
  width: max-content;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: #2b2a29;
}
 
.star-ratings-fill {
  color: #fff58c;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-text-fill-color: gold;
}
 
.star-ratings-base {
  z-index: 0;
  padding: 0;
}

/*리뷰, 상품문의 테이블*/
.hide {display:none;} /*화면 상 영역을 차지하지 않고 삭제된 것처럼 보이게 한다*/ 
.my_show {
	display:table-row;
	}  
.item td {cursor:pointer;}  

/*테이블 가운데정렬*/
.jw_table th {
	text-align:center;
}
.jw_table td {
	text-align:center;
}
/*h3 가운데 정렬, 여백*/
.jw_h3{
	text-align:center;
	padding:20px;
}
/*플로트*/
.js_float{
	width:500px;
}

.jw_float input{
	float:left;
}
.js_float:after{
	content:"";
	display:block;
	clear:both;
}
.jw_btn{
	width:150px;
}
.jw_button{
	text-align:center;	
}
.jw_button1{
	text-align:center;
}

a {
    color: black;
    text-decoration: none;
    background-color: transparent;
}
a:hover { 
	text-decoration:none;
	color:#000;
}
/*서치*/
.record_group {float:left; margin-top:10px;}
.search_group {float:right;}
.record_group span {color:#007dc6;}
.search_group .select {height:44px; border:1px solid #e0e0e0; padding:5px;}
.search_group .search_word {height:44px; border:1px solid #e0e0e0; padding:5px; width:220px;}
.search_group .btn_search {height:44px; padding:5px 15px; border:1px solid #e0e0e0; background:transparent; /*투명하게*/ font-size:16px;vertical-align:bottom;}
/*페이징*/
.paging {clear:both; padding-top:50px; text-align:center;}
.paging a  {padding:10px; border:1px solid #e0e0e0;}
.paging a.active {background:#666666; color:#fff;}
.paging .btn_write {background:#F78181; padding:10px 16px; color:#fff; float:right;}
/*문의 뷰페이지*/
.board_view {margin-top:100px;}
.board_view h2 {margin-bottom:16px; font-size:32px; letter-spacing:-1px; text-align:center;}
.board_view .info {font-size:18px; text-align:center;}
.board_view .info .user {color:#007dc6;}
.board_body {padding:70px 120px; border-top:1px solid #ddd; border-bottom:1px solid #ddd; margin-top:35px; clear:both;}
.board_pds {padding:20px 120px; border-top:1px solid #ddd;  margin-top:35px; }
.board_body p {margin-bottom:20px;}
.prev_next {padding-top:50px; height:67px; position:relative; clear:both; border-top: 1px solid #ddd;}
.prev_next .btn_prev {text-align:left; width:30%; display:inline-block; position:absolute; left:0; }
.prev_next .btn_next {text-align:right; width:30%;display:inline-block; position:absolute; right:0;}
.prev_next .btn_3wrap {position:absolute; left:50%;transform:translate(-50%,0); /* scale(크기),skew(기울이기),rotate(회전),teanslate(이동) */ }
.prev_next i {width:56px; height:56px; line-height:56px; border:1px solid #ddd; font-size:22px; text-align:center;}
.prev_next .prev_wrap, .prev_next .next_wrap {padding:5px 15px 0; display:inline-block;  height:56px;}
.prev_next .prev_wrap span, .prev_next .next_wrap span {display:block;}
.btn_3wrap input {padding:12px 18px; display:inline-block; border:1px solid #878787; background: transparent;}

.complet {background:#8893ab; color:#fff;padding:5px 8px;}
.waiting {background:#0489B1; color:#fff;padding:5px 8px;}

/*통계 css*/
.jw-charts-2wrap div{
	float:left;
}
.jw-charts-2wrap:after{
	content:"";
	display:block;
	clear:both;
}
.jw-charts-3wrap div{
	float:left;
}


/* 공지사항 css */

.notice_search {
   margin-top: 20px;
    margin-bottom: 10px;
    text-align: right;
}
.notice_search label {
   margin-right: 10px;
    font-size: 12px;
}
.notice_title a{
   color: #000;
    text-decoration: none;
}
.notice_footer{
   width:520px;
    margin-top:20px;
    float:right;
}
.notice_footer .button_wrap{
   margin: 0 0 15px;
    text-align: left;
    font-size: 0;
    line-height: 0;
    position:relative;
    bottom:25px;
}
.notice_footer .button_wrap .buy{
    min-width: 130px;
    float: right;
    text-align: center;
    font-size: 0;
    padding-left: 22px;
}
.notice_footer .button_wrap .buy a , .notice_footer .button_wrap .cart a{
   width: 65px;
    position: relative;
    margin: 0 0 8px 0;
    padding: 12px 0;
    border-radius: 3px;
    display: inline-block;
    font-size: 10px;
    height:25px;
    background:#000;
    border: 1px solid #000;
    color: #fff;
    transition-duration: .4s;
    -webkit-transition-duration: .4s;
    -moz-transition-duration: .4s;
    -o-transition-duration: .4s;
}
.notice_footer .button_wrap .buy a:hover , .notice_footer .button_wrap .cart a:hover{
   color: #000;
    background: #fff;
    border: 1px solid #000;
    text-decoration: none;
}
.notice_footer .button_wrap .cart{
   width: 45.6666%;
    min-width: 110px;
    text-align: center;
}

/* ---noticewrite css ------*/

.noticewrite h2{
    padding-bottom: 5px;
    border-bottom: 2px solid #000;
    color: #333;
    font-family: 'malgun gothic';
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -3px;
    margin: 0 auto;
}
.noticewrite .tbl_order{
   position: relative;
    margin-top: 10px;
    border-top: 2px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.noticewrite_table {
   width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    word-wrap: break-word;
    word-break: keep-all;
}
.noticewrite .tbl_noticewrite tbody th {
   text-align: center;
}
.noticewrite .tbl_noticewrite .txt-1{
   padding: 0 15px;
   text-align: left;
}
.noticewrite .tbl_noticewrite td, .noticewrite .tbl_noticewrite th{
   padding: 10px 0;
    border-bottom: 1px solid #eee;
    color: #222;
}
.noticewrite input[type=text]{
   width: 168px;
    height: 23px;
    line-height: 23px;
    padding: 0 5px;
    border: 1px solid #ddd;
}
.btn_back{
   background-color: #49904E;
    color: #051922;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    border: none !important;
    cursor: pointer;
    padding: 6px 14px;
    border-radius: 3px;
}

/*---noticemodify ---*/


.noticemodify_head{
   font-size: 30px;
    line-height: 30px;
    color: #000;
    font-weight: 700;
    letter-spacing: 0;
    margin: 0;
    padding: 30px 0 60px;
    text-align:center;
}
.notice_sub_des{
   position: relative;
}
.notice_sub_des span{
   margin-right: 15px;
    color: #555;
}
.notice_sub_des span em {
   font-size: 11px;
    color: #9c9c9c;
}
.noticemodify_table{
   width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    word-wrap: break-word;
    word-break: keep-all;
    font-size: 12px;
    border-top: 1px solid #333;
}
.noticemodify_table table{
   width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    word-wrap: break-word;
    word-break: keep-all;
}
.noticemodify_table thead th{
   padding: 10px 0;
    background-color: #fcfcfc;
    border-top: 1px solid #333;
    border-bottom: 1px solid #ccc;
    color: #777;
}
.noticemodify_table tbody td{
   border-bottom: 1px solid #333;
}
.modify_viewcount{
   position: absolute;
    bottom: 30px;
    right: 190px;
}
.data_bd_cont{
   padding: 20px 0 40px 0;
}
.modify_body{
   padding:70px 120px; 
   border-bottom:1px solid #ddd; 
   margin-top:35px;
}
.noticeprev_next {margin-top:30px; height:67px; position:relative;}
.noticeprev_next .btn_prev {text-align:left; width:30%; display:inline-block; position:absolute; left:0; }
.noticeprev_next .btn_next {text-align:right; width:30%;display:inline-block; position:absolute; right:0;}
.noticeprev_next .btn_3wrap {position:absolute; left:50%;transform:translate(-50%,0); /* scale(크기),skew(기울이기),rotate(회전),teanslate(이동) */ }
.noticeprev_next i {width:56px; height:56px; line-height:56px; border:1px solid #ddd; font-size:22px; text-align:center;}
.noticeprev_next .prev_wrap, .noticeprev_next .next_wrap {padding:5px 15px 0; display:inline-block;  height:56px;}
.noticeprev_next .prev_wrap span, .noticeprev_next .next_wrap span {display:block;}
.btn_3wrap a {padding:12px 18px; display:inline-block; border:1px solid #878787;}


/* 공지사항 글쓰기 css */

.order_footer{
   width:825px;
    margin-top:20px;
    float:right;
    padding-top:30px;
}
.order_footer .button_wrap{
   margin: 0 0 15px;
    text-align: left;
    font-size: 0;
    line-height: 0;
    position:relative;
    bottom:25px;
    right:170px;
}
.order_footer .button_wrap .buy{
    min-width: 130px;
    float: right;
    text-align: center;
    font-size: 0;
}
.order_footer .button_wrap .buy a , .order_footer .button_wrap .cart input{
   width: 65px;
    position: relative;
    margin: 0 0 8px 0;
    padding: 12px 0;
    border-radius: 3px;
    display: inline-block;
    font-size: 10px;
    height:25px;
    background:#000;
    border: 1px solid #000;
    color: #fff;
    transition-duration: .4s;
    -webkit-transition-duration: .4s;
    -moz-transition-duration: .4s;
    -o-transition-duration: .4s;
}
.order_footer .button_wrap .buy a:hover , .order_footer .button_wrap .cart input:hover{
   color: #000;
    background: #fff;
    border: 1px solid #000;
    text-decoration: none;
}
.order_footer .button_wrap .cart{
    min-width: 110px;
    text-align: center;
    float:right;
    padding-left:52px;
}